figure{
    min-width: 145px;
    min-height: 210px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px dashed black;
}

figure img{
    max-width: 130px;
    max-height: 192px;
}