@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
}

figure:hover{
    cursor: pointer;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
}

.root{
    width: 375px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}